.nav-item{
	min-width: 150px;
	
}

.btnColorS{
	background-color: #000000;
}

.btnColorB{
	background-color: #30364C;
	color: #FFFFFF;
}

.btnColorT{
	background-color: #73CDD9;
	color: #FFFFFF;

}

.btnColorL{
	background-color: #F0573D;
	color: #FFFFFF;
}

@media (min-width: 320px) {
	.navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 27px;
	}
}




