*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

/*//LANDING LAYOUT//*/

.landing{
	height: 100vh; 
	background-image: url("../../images/coffee-pattern-iphone.png");
	background-size: cover;
	position: fixed;
}

.landing__image {
	height: 100%;
	width: 100%;
}

.landing__logo {
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
}

.landing__button{
	height: 5%;
	width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
	font-family: $font;
	font-size: 20px;
    color: #FFFFFF;
    background-color: $red-orange;
    border: none;
    text-decoration: none;

} 
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
 /*//LANDING LAYOUT//*/

.landing {
	height: 100vh; 
	background-image: url("../../images/coffee-pattern-ipad.png");
	background-size: cover;
	position: fixed;
}

.landing__image {
	height: 100%;
	width: 100%;
}

.landing__logo {
	width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
}

.landing__button {
	height: 40px;
	width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
	font-family: $font;
	font-size: 20px;
    color: #FFFFFF;
    background-color: $red-orange;
    border: none;
    text-decoration: none;

} 
}

@media screen and (min-width: 1025px) {

/*//LANDING LAYOUT//*/

.landing {
	height: 100vh; 
	background-image: url("../../images/coffee-pattern-desktop.png");
	background-size: cover;
	position: fixed;
}

.landing__image {
	height: 100%;
	width: 100%;
}

.landing__logo {
	width: 30%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
}

.landing__button {
	height: 40px;
	width: 20%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
	font-family: $font;
	font-size: 20px;
    color: #FFFFFF;
    background-color: $red-orange;
    border: none;
    text-decoration: none;

} 
}