.navbar {	
    min-height: 200px;
}

.logo {
	vertical-align: middle;
	height: 110px;
	width:300px;
}

.navbar-nav li a {
 padding top: 150px;
 line-height: 150px;
}

.navbar-brand {
 line-height: 150px;
}

navbar-toggle {
	margin-top: 83px;
	padding:9px 10px !important;
}

.dropdown-toggle {
	min-width: 163px;
}

.searchButton {
	min-width: 170px;
}

.btnColorS{
	background-color: #FFFFFF;

}

.btnColorB{
	background-color: #30364C;
	color: #FFFFFF;

}


.btnColorT{
	background-color: #73CDD9;
	color: #FFFFFF;

}

.btnColorL{
	background-color: #F0573D;
	color: #FFFFFF;
}




@media (min-width: 320px) {
	.navbar-nav > li > a {
		padding-top: 86.5px
		padding-bottom: 86.5px;
		line-height: 27px;
	}
}




